:root {
  --main-color: #1d1e18;
  --alt-color: #6b8f71;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Set font size for easy calculations */
  font-size:62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: fira code, consolas;
  background-color: var(--main-color);
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

section {
width: 70vw;
height: 100vh;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

/* Nav */

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:60px;
  z-index: 100;
}

#nav-list {
  display: flex;
  list-style-type: none;
}

#nav-list a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

#navbar, #nav-list, li {
  background-color: var(--alt-color);
}

#navbar li:hover {
  background-color: var(--main-color);
  color: white;
}

#navbar li:active {
  background-color: #445745;
}

/* Welcome Section */

#welcome-section {
  text-align: center;
  width: 100vw;
  padding-top: 40vh;
}

#welcome-section h1 {
  font-size: 75px;
}

#welcome-section p {
  color: var(--alt-color);
  font-size: 30px;
  font-style: italic;
  margin-top: 5 px;
}

/* Projects Section */

#projects {
  width: 100%;
  height: auto;
  padding: 10rem 2rem;
}

.projects-section-header {
  width: 100%;
  text-align: center;
}

.project-grid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 40px auto 0;
}

.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 350px;
  margin: 10px;
}

.project-tile:hover {
  transform: scale(1.05);
  transition: 0.15s;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.project-title {
  border: 1px solid grey;
  background-color: var(--alt-color);
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 10px;
}

/* Contact Section */
#profile-link {

}